<div id="container" style="margin-bottom: 2rem;">
  <ul id="buttonContainer">
    <li
      class="center standardStyle navButton" *ngFor="let page of pageList" id="{{ page.name }}" (click)="navTo(page)">
      <div class="chosen" *ngIf="title==page.name">{{ page.name }}</div>
      <div *ngIf="title!=page.name">{{ page.name }}</div>
  </li>
</ul>
  <svg
    width="1440"
    height="16"
    viewBox="0 0 1440 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >

    <rect x="993.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="1179.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="807.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="1272.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="900.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="1086.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="714.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="714.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="342.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="528.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="156.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="621.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="249.75" y="5" width="10.5" height="3" fill="#4D4A41" />
    <rect x="435.75" y="5" width="10.5" height="3" fill="#4D4A41" />

    <rect width="1440" height="3" fill="#4D4A41" />
  </svg>
</div>
